<div class="board-container">
  <div class="col-md-3">
    <img class="img1" style="height:100px; width:100px" src="https://i.pinimg.com/originals/20/1d/ba/201dbacf47ce26cac9af7189cfa64fad.jpg">
    <div style="margin-top: 70px;">
      <h3>Loki Odinson</h3>
    </div>
      <h6>@godofmischief</h6>
      <div class="sidebar-text">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </div>
  </div>
</div>