
<div class="board-container">
  <div class="col-md-3">
    <div class="sidebar-title">
      <h2>My Profile</h2>
    </div>
    <div align="center">
      <img class="img2" style="height:100px; width:100px" src="https://i.pinimg.com/originals/20/1d/ba/201dbacf47ce26cac9af7189cfa64fad.jpg">
    </div>
    <div style="margin-top: 0px; text-align: center">
      <h3>Loki Odinson</h3>
      <h6>@godofmischief</h6>
    </div>
      <div class="sidebar-text">
       <p>Born to be a king, I ask one thing in return: a front seat to watch Earth burn.</p>
      </div>
  </div>
  <div class="col-md-6">
    <div class="post" style="height: 100px">
      <div class="form-group">
        <textarea class="form-control" rows="2" id="post" placeholder="Write about your day here."></textarea>
        <button type="button" class="btn btn-success" style="float: right; margin: 5px;">Create Post</button> 
        <button type="button" class="btn btn-success" style="float: left; margin: 5px;"><i class="fa fa-image fa-2x" style="font-size: 20px;float: right;"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
<!-- Post sample without the image. -->
  <div class="tweetEntry">
  <div class="tweetEntry-content">
    <a class="tweetEntry-account-group" href="[accountURL]">
      <img class="tweetEntry-avatar" src="http://placekitten.com/100/100">
      <strong class="tweetEntry-fullname">[fullname]</strong>
      <span class="tweetEntry-username">@<b>[username]</b></span>
      <span class="tweetEntry-timestamp">- [timestamp]</span>
      <i class="fa fa-edit" style="font-size: 18px;float: right; width: 50px;"></i>
      <i class="fa fa-trash-o" style="font-size: 18px;float: right; width: 50px"></i>
    </a>
    <div class="tweetEntry-text-container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, finibus ac est sed, vestibulum condimentum neque. Sed eget iaculis.
    </div>
    
  </div>
  </div>
    
  <!-- Post sample with the image. -->
  <div class="tweetEntry">
  <div class="tweetEntry-content">
    <a class="tweetEntry-account-group" href="[accountURL]">
      <img class="tweetEntry-avatar" src="http://placekitten.com/150/150">
      <strong class="tweetEntry-fullname">[fullname]</strong>
      <span class="tweetEntry-username">@<b>[username]</b></span>
      <span class="tweetEntry-timestamp">- [timestamp]</span>
      <i class="fa fa-edit" style="font-size: 18px;float: right; width: 50px;"></i>
      <i class="fa fa-trash-o" style="font-size: 18px;float: right; width: 50px"></i>
    </a>
    <div class="tweetEntry-text-container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, finibus ac est sed, vestibulum condimentum neque. Sed eget iaculis.
    </div>
  </div>
  <div class="optionalMedia">
    <img class="optionalMedia-img" src="http://placekitten.com/600/400">
  </div>
  </div>  
</div>
</div>
</div>